*.map
*.o
*.pbi
*.pbi.cout
*.hex
*.out
*.pbd.browse
*.dbgdt
*.wsdt
*.wspos
*.cspy.bat
*.driver.xcl
*.general.xcl
*.dni
*.map
*.o
*.pbi
*.pbi.cout
*.hex
*.out
*.pbd.browse
*.dbgdt
*.wsdt
*.wspos
*.cspy.bat
*.driver.xcl
*.general.xcl
*.dni
*.pbd
*.sisc
*.xml
*.SearchResults
*.sip_sym
*.sip_xab
*.sip_xad
*.sip_xc
*.sip_xf
*.sip_xm
*.sip_xr
*.sip_xsb
*.sip_xsd
*.siproj
*.siwork
*.siproj_settings.xml

